.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 5vmin;
    pointer-events: none;
  }
}

.image-container {
  position: relative;
  text-align: center;
}

.image-container img {
  width: 100%; /* Adjust as necessary */
  height: auto; /* Adjust if you want a specific height */
}

.text-over-image {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Choose the color that makes the text stand out over your image */
  font-size: 2em; /* Adjust as necessary */
  /* Add more styles as needed */
}

body, html {
  margin: 0px;
  padding: 10px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #922085;
  width: 100%; 
}


nav ul li 
{
padding: 10px; /* spacing we prefer */
margin-right: 10px; /* space between items */
background-color: #922085;
}

nav ul li a {
  text-decoration: none; /* removes underline from links */
  color: #FFFFFF; 
  font-family: 'Arial', sans-serif; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  margin: 0;
  z-index: 10; 
  background-color: #922085;
}

.logo {
  height: 20px; 
  width: auto; /* Maintain aspect ratio */
}

.App-header {
  background-color: #922085;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
